<li *ngIf="!stocks.length">Loading stocks...</li>
<li class="nav-item" *ngFor="let stock of stocks" [@slideOut]>
    <a class="nav-link active" href="#">
        <clr-icon shape="angle up" *ngIf="stock.change > 0 "></clr-icon>
        <clr-icon shape="angle down" *ngIf="stock.change < 0 "></clr-icon>
        <clr-icon shape="angle right" *ngIf="stock.change == 0 "></clr-icon>
        {{stock.change | currency : 'USD' :'symbol':'.2'}} - {{stock.price | currency : 'USD' :'symbol':'.2'}} {{stock.symbol}} {{stock.name}}
    </a>
</li>
