<div class="alert" [ngClass]="{
  'alert-info': tag === 'I',
  'alert-warning': tag === 'W',
  'alert-danger': tag === 'D',
  'alert-success': tag === 'S'
}" *ngIf="show">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <span class="alert-text">{{message}}</span>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
</div>
